@{
    ViewData["Title"] = "My Test View";
}
@model hw16.Models.MeetingSettings

<div class="container">
    <div class="card mt-5 bg-primary text-white">
        <div class="card-body">
            <h2 class="card-title">Meeting Room Settings</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold mr-2">@Html.DisplayNameFor(model => model.MaxPeople)</span>
                    <span>@Model.MaxPeople</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold mr-2">@Html.DisplayNameFor(model => model.MaxTime)</span>
                    <span>@Model.MaxTime</span>
                </li>
            </ul>
        </div>
    </div>
</div>




@* <div>
    <p>Meeting Room Settings</p>
    <ul>
        <li>@Html.DisplayNameFor(model => model.MaxPeople): @Model.MaxPeople</li>
        <li>@Html.DisplayNameFor(model => model.MaxTime): @Model.MaxTime</li>
    </ul>
</div> *@